<div>
	<h2>Ecommerce Messages</h2>
	<div><p id="name"></p></div>
	<div>
		<input type="text" id="message" />
		<button id="submit">Enviar</button>
	</div>
	<div>
		<p id="messages"></p>
	</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.socket.js"></script>