<div>
	<h1>LISTA DE PRODUCTOS</h1>
	<div id="products">
		{{#each products}}
			<div id="product">
				<img src="{{this.thumbnail}}" alt="Imagen producto" />
				<h2>{{this.title}} </h2>
				<h4>{{this.price}} </h4>
				<p>{{this.description}} </p>
			</div>
		{{/each}}
	</div>
</div>