<div>
	<h1>LISTA DE PRODUCTOS</h1>
	<div id="products">
		{{#each productos}}
				<div>
					<img src="{{this.thumbnails}}" alt="Imagen producto" />
					<h2>{{this.title}} </h2>
					<h4>{{this.price}} </h4>
				</div>
			</a>
		{{/each}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>